.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
  }
}

header {
  grid-column: span 1;
}

main {
  grid-column: span 1;
}

footer {
  grid-column: span 1;
}
