.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 320px;
  grid-template-rows: min-content auto min-content;
}

header {
  grid-column: 1;
}

aside {
  grid-column: 2;
}

main {
  grid-column: 1;
}

footer {
  grid-column: 1;
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  aside {
    display: none;
  }
}
